doctype html 
html 
    head 
        title="Evil Inc"
        link(rel="stylesheet", href="style.css")
        body 
            h1= "Evil Inc"
            a(href='/') Evil Lair  
            a(href='/misdeeds') Misdeeds
            
            p="The World is ours for the taking and their is nothing anyone can do to stop US!!!! BAHAHAHAHAH"  
