doctype html 
html 
    head 
        title="Evil Inc"
        link(rel="stylesheet", href="style.css")
        body 
            h1= "Evil Inc"
            a(href='/accomplices') Accomplices 
            a(href='/misdeeds') Misdeeds
            p=" World Domination is our business of choice"
            //- //  Part 3 ===Exploring Response Options
            
            a(href="/downloadImg") download
                img(src="/world.jpg")

           

            